* {
  box-sizing: border-box;
}

body,
.container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffff00;
}
@media only screen and (max-width: 768px) {
  body,
  .container {
    flex-direction: column;
  }
}
body.with-container {
  display: unset;
  overflow: unset;
}

body.with-container > * {
  margin: 1em;
}

.container {
  display: flex;
  flex: 1;
  min-height: 400px;
}

.block {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  width: 100%;
  background: #013dff;
  color: #fff;
}

.block a {
  color: inherit;
}
